{"swagger":"2.0","info":{"version":"1.0.0","title":"Kangaroo Customer Api","license":{"name":"MIT"}},"host":"com.kangaroo.com","basePath":"/v1","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/rules":{"patch":{"tags":["updateBusinessRules"],"summary":"update business's rules","operationId":"updateBusinessRules","consumes":["application/json"],"parameters":[{"in":"body","name":"updateBusinessRulesBodyRequest","required":true,"schema":{"type":"object","required":["reward_milestone_amount","reward_ratio","welcome_points"],"properties":{"reward_ratio":{"type":"integer","format":"int64","description":"points earned by user after spending x amount"},"reward_milestone_amount":{"type":"integer","format":"int64","description":"amount to be spent by user to earn x points"},"welcome_points":{"type":"integer","format":"int64","description":"sign up bonus"}}}}],"responses":{"200":{"description":"Business rules","schema":{"$ref":"#/definitions/BusinessesRules"}}}}}},"definitions":{"BusinessesRules":{"type":"object","properties":{"data":{"$ref":"#/definitions/BusinessRulesData"}},"description":"Rules of the business\n","x-model":"BusinessesRules"},"BusinessRulesData":{"type":"object","properties":{"earning":{"$ref":"#/definitions/EarningRules"},"redeeming":{"$ref":"#/definitions/RedeemingRules"},"currency":{"$ref":"#/definitions/CurrencyRules"}},"description":"Business rules data"},"EarningRules":{"type":"object","properties":{"reward_ratio":{"type":"integer","format":"int64"},"reward_amount":{"type":"integer","format":"int64"},"reward_points":{"type":"integer","format":"int64"},"social_media":{"$ref":"#/definitions/SocialMediaRules"},"reward_milestone_amount":{"type":"integer","format":"int64"},"welcome_points":{"type":"integer","format":"int64"}}},"SocialMediaRules":{"type":"object","properties":{"active":{"type":"boolean","description":"if the social media rules are active for this business"},"reward_points":{"type":"array","description":"currency symbol","items":{"type":"string"}},"reward_points_max":{"type":"integer","format":"int64"}}},"RedeemingRules":{"type":"object","properties":{"redemption_ratio":{"type":"integer","format":"int64","description":"redemption ratio"},"redemption_amount":{"type":"integer","format":"int64","description":"redemption amount"}}},"CurrencyRules":{"type":"object","properties":{"name":{"type":"string","description":"currency name"},"symbol":{"type":"string","description":"currency symbol"},"iso_code":{"type":"string","description":"currency iso_code"},"denominator":{"type":"integer","format":"int64","description":"currency denominator"}}}}}